main{
  width: 100%;
  min-height: 100vh;
}
section{
  background: #fff;
}
img{
  width: 60%;
  margin-left: 20%;
  margin-top: 20%;
}
h1{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 3.5em;
  text-align: center;
  margin-top: 20%;
}
p{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10%;
  color: #A7A7A7;
}
.botoes{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20%;
}
.sign{
  width: 35%;
  height: 5vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 20px;
}
.log{
  width: 35%;
  height: 5vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 20px;
  margin-left: 10%;
  border: 0;
  background: #FCC11D;
}